Redirect 301 /avtovyshka-platforma.html /avtopark/avtovyshka-13m
Redirect 301 /avtovyshka-15m.html /avtopark/avtovyshka-15m
Redirect 301 /avtovyshka-16m.html /avtopark/avtovyshka-16m
Redirect 301 /avtovyshka-17m.html /avtopark/avtovyshka-17m
Redirect 301 /avtovyshka-21m.html /avtopark/avtovyshka-21m
Redirect 301 /avtovyshka-24m.html /avtopark/avtovyshka-24m
Redirect 301 /avtovyshka-29m.html /avtopark/avtovyshka-29m
Redirect 301 /avtovyshka-40m.html /avtopark/avtovyshka-40m
Redirect 301 /avtovyshka-45m.html /avtopark/avtovyshka-45m
Redirect 301 /avtovyshka-50m.html /avtopark/avtovyshka-50m
Redirect 301 /avtokran-25t-ivanovets.html /avtopark/avtokran-25t-ivanovets
Redirect 301 /avtokran-25t-kobelco.html /avtopark/avtokran-25t-kobelco

RewriteEngine on
RewriteRule ^avtopark/?$ / [R=301,L]