.carousel :global .slick-dots {
  bottom: -1.75rem;
}

.carousel :global .slick-dots li button::before {
  font-size: 10px;
}

.carousel :global .slick-dots li button:hover::before,
.carousel :global .slick-dots li button:focus::before {
  color: rgb(239, 68, 68);
}

.carousel :global .slick-dots li.slick-active button::before {
  color: rgb(239, 68, 68);
}
